@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya|Nanum+Myeongjo|Orbitron|Ropa+Sans&display=swap');
@import url('https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css');
      
* {
    box-sizing: border-box; 
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    /* background: url(background-img.jpg); */
    background: #FbFbFb;
    text-align: center;
}
h1{
    margin:0;
    padding:35px;
    color: #ffffff; 
    font-family: 'Orbitron', sans-serif;
     text-align: center;
    font-size: 2.75em;
    opacity: .8; 
    text-shadow: #222222 1px 1px,#222222 0px 0px,#222222 1px 1px,#222222 2px 2px,#222222 3px 3px,#222222 4px 4px,#222222 5px 5px,#222222 6px 6px,#222222 7px 7px,#222222 8px 8px,#222222 9px 9px,#222222 10px 10px,#222222 11px 11px,#222222 12px 12px,#222222 13px 13px,#222222 14px 14px,#222222 15px 15px,#222222 16px 16px,#222222 17px 17px,#222222 18px 18px,#222222 19px 19px,#222222 20px 20px,#222222 21px 21px,#222222 22px 22px,#222222 23px 23px,#222222 24px 24px,#222222 25px 25px,#222222 26px 26px,#222222 27px 27px,#222222 28px 28px,#222222 29px 29px;
}
nav {
    padding: 8px;
    min-height: 80px;
}
#landing{
    min-height: 40vh;
    color:rgba(9, 8, 10, 0.808);
}
#landing .bgImage{
    position:absolute;
    background-image: url('/img/black-black-and-white-books-6662.jpg');
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    min-height: 40vh;
    width:100%;
    z-index: -1;
    opacity: .7;
    

}
.largerIcon{
    font-size:80px;
}
.wrapper{
    margin:auto;
    padding:2em;
}
#btnLanding { 
border: 1px solid rgb(0, 0, 0);
font-weight: bold;
border-radius: 4px;
padding: 0 15px;
cursor: pointer;
height:32px;
font-size:15px;
color:rgb(24, 3, 3);
font-family: 'Nanum Myeongjo', serif;
transition: all 0.2s ease-in-out;
text-align: center;
background-color: transparent;
padding: .375rem .75rem;
  
}

#btnLanding:hover { 
    transform: scale(1.1);
    }
#section-A{
    height:auto;
    /* background:#ff7f50; */
    display:grid;
    grid-template-columns: 1.75fr 4fr;
    grid-template-rows: 6fr;
    width:100%;
    word-wrap: break-word

    
}
.portImg{
    background: #FbFbFb;
    
}
.Faceimage{ 
    width:100%;
    height:auto;
    

}
.aboutme{
    background: #FbFbFb;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    padding:1em;
}
[data-typing="fonts"] {
    font-size: 30px;
    letter-spacing: 1px;
  }
[data-typing="i"] {
    font-size: 90px;
    height: 70px;
    line-height: 70px;
  }
[data-typing="fullstack"] {
    font-size: 35px;
    letter-spacing: 1px;
  }

  [data-typing="developer"] {
font-size: 50px;
  background: rgb(2, 2, 2);
  color: #fff;
  padding: 0px 4px;
  }

  .iconGrid{
      display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-gap: 1em;
  }

#section-B{
    margin:auto;
    height:50vh;
    background:#ffffff;
}


ul.filters{
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 0;
}

ul.filters > li{
    list-style: none;
    display: inline-block;
}

ul.filters > li > a{
    display: block;
    color: #434e5e;
    text-decoration: none;
    padding: 5px 20px;
}

ul.filters > li > a:hover{
    background-color: #e6e9ed;
}

ul.filters > li.active > a{
    color: #fff;
    background-color: #050707;
}

.card{
    position: relative;
    margin-bottom: 50px;
    color: #000;
    border-radius: 0;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 1px 1px 1.5px rgba(85, 82, 82, 0.075);
}

.card-head{
    position: relative;
    overflow: hidden;
}

.card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(2, 2, 2, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    color :#fff;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-hover{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.9);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-body{
    padding-top: 10px;
    padding-bottom: 10px;
}

h4.title{
    color: #2c2323;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.card-btn{
    margin-bottom: -40px !important;
    font-size: 0.9rem !important;
    background-color: rgb(241, 228, 228) !important;
    color: #222 !important;
    border: 1px solid rgb(0, 0, 0)!important;
    border-radius: 0;
    padding-left: 50px;
    padding-right: 50px;
}

.card-btn:hover{
    background-color: #28bea8;
    color: #fff;
}
.port-nav{
display:grid;
}

.Project-Container{
display:grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
grid-gap: 1px;
height:100%;

}
.projects{
    display:grid;
}









@media screen and (max-width: 864px) {

    .wrapper{
        margin:auto;
        padding:auto;
    }
    #section-A{
        /* background:#ff7f50; */
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    } 
    #landing{
        min-height: 40vh;
        color:rgba(9, 8, 10, 0.808);
    }
    h1{

        margin:0;
        padding:25px;
        color: #ffffff; 
        font-family: 'Orbitron', sans-serif;
        font-size: 2em;;
       
    }

    .Faceimage{ 
        width:50%;
        height:auto;
    
    }
    .iconGrid{
        display: grid;
       grid-template-columns: repeat(3,1fr);
       grid-gap: 1em;
       justify-content: center;
    }
    .largerIcon{
        font-size:60px;
    }
}

